@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.winbox-content {
  padding: 20px;
  color: #f0f0f0; 
  font-family: 'JetBrains Mono', monospace;
  background: #2a2a2a; 
}

.winbox .wb-title {
  color: #010b0e; 
  font-family: 'JetBrains Mono', monospace;
  background: #00d4ff; 
  margin: 0;
}

.winbox .wb-body {
  background: #2a2a2a; 
}

.winbox .wb-close, .winbox .wb-min, .winbox .wb-max {
  color: #f0f0f0; 
}